---
layout: default
---
{%- assign posts = site.categories[page.category] -%}
<div class="category-page">
  <h1 class="page-heading">{{ page.description }}</h1>
  <p class="category-count">{{ posts | size }} post{%- if posts.size != 1 -%}s{%- endif -%}</p>

  <ul class="post-lines">
    {%- for post in posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
</div>
