---
layout: default
---
{%- assign posts = site.categories[page.category] -%}
<div class="category-page">
  <h1 class="page-heading">
    {{ page.title }}
    <span class="category-count">&middot; {{ posts | size }} posts</span>
  </h1>

  {%- if page.description -%}
  <p>{{ page.description }}</p>
  {%- endif -%}

  <ul class="post-list">
    {%- for post in posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h3>
    </li>
    {%- endfor -%}
  </ul>
</div>
